/* Custom-css  */

.body-color{
    background-color: #edf6f8;
}
.input-color{
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #8a7a84;
    
}
.div-part{
    width: 543px;
    height: 750px;
    background-color: #F8F8F8;
    border-radius: 10px;
    /* box-shadow: 5px 5px 50px 5px #211e24; */
}
.h1-font-size{
    color: #1383ec;
    text-shadow: 1px 1px 5px black;
    font-size: 50px;
}

.amount-color{
    color: rgb(55, 8, 73);
}
